.btn {
  /* border-radius: 8px;
  padding: 1rem 1.6rem;

  background-color: var(--color-theme-accent);
  color: var(--color-base-light);
  font-size: 1.7rem;
  line-height: 1.4;
  cursor: pointer; */

  width: 180px;
  height: 40px;
  border-radius: 8px;
  padding: 12px;

  background-color: #E44B05;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  background-color: #bd3c00;
}

.account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 2px 2px 2px 1.6rem;
  height: 40px;
  width: 232px;
  background-color: #616161;
  color: #ffffff;
  font-size: 14px;
}

.account-wallet {
  display: block;
  margin-left: 10px;
  border-radius: 8px;
  padding: 10px;
  background-color: #252525;
}

.account-wallet-mobile {
  display: none;
  margin-left: 10px;
  border-radius: 8px;
  padding: 10px;
  color: #ffffff;
  width: 145px;
  height: 40px;
  background-color: #252525;
}

@media screen and (max-width: 725px) {
  .account {
    display: none
  }
  .account-wallet-mobile {
    display: block;
  }
}