/* vars */
:root {
  --color-base-light: #fff;
  --color-base-semi-light: #ebebeb;
  --color-base-medium-light: #F5F6F8;
  --color-base-medium: #EAEAEA;
  --color-base-medium-dark: #242728;
  --color-base-semi-dark: #232324;
  --color-base-dark: #000;

  --color-theme-accent: #FE5001;
  --color-theme-alt: #18E77F;

  --wrapper: 112.8rem;
}

/* reset */
html,
body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,
samp,small,strike,strong,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,
legend,button,table,caption,tbody,tfoot,thead,tr,th,td,figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  position: relative;
  min-height: 100vh;
  line-height: 1;
  color: black;
  background: white;
}

ol,
ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: 400;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

span, a {display: inline-block;}

button {
  background-color: transparent;
  border: none;
  border-style: none;
}

input[type="submit"],
a,
button {
  cursor: pointer;
}

img {
  height: auto;
  max-width: 100%;
}

textarea,
input {
  border: none;
  border-style: none;
}

i {
  font-style: italic;
}

b, strong {
  font-weight: 700;
}

/* GLOBAL STYLE */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

html,
body {
  margin: 0;
  font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: calc(100vw / 144);  /* 10px */
}
